@import "bourbon/bourbon";
// @import "base/base";
@import "neat/neat";
@import "https://fonts.googleapis.com/css?family=Playfair+Display:700|Work+Sans";

html {
    overflow-y: scroll;
    font-size: 62.5%;
}

body {
    background: #ECEBE8;
    margin: 0 auto;
    position: relative;
    font-family: 'Georgia', serif;
    font-size: 2rem;

}

.container {
    overflow: auto;
    @include outer-container;
    @include clearfix;
    @include media($mobile) {margin: 1em;}
    @include media($laptop) {margin: 1em;}

}

.row {
    @include row();
}

h1, h2, h3 {font-family: 'Playfair Display', serif;}
h4, h5 {font-family: 'Work Sans', sans-serif;}
