<% p = locals[:project] %>
<div class="l-wrapper">
  <div class="l-content">
    <h2><%= p[:title] %></h2>
    <%= p[:description] %>
    <p class="highlight">Key responsibilities:</p>
    <ul class="itemised-list">
	    <%= p[:responsibilities] %>
    </ul>
  </div>
</div>

  <section class="work-header">
    load data
  </section>

  <section class="work-summary">
    load data
  </section>

  <section class="work-problem">
    load data
  </section>

  <section class="work-solution">
    load data
  </section>

  <section class="work-process">
    load data
  </section>

  <section class="work-outcome">
    load data
  </section>
