---
title: About
---

<h1>Hi, I'm Jess.</h1>
<p>Technology has always been my first love. I’ve been in front of a computer screen since DOS and started making websites when I discovered the internet (on dial-up) at 14. I was in the 9th grade when I decided that I would go to college and become a web designer. I’m continually amazed by how much the landscape of the web and how we experience it has changed.

<p>In my current position, I find myself at the intersection of thinking and doing. I oscillate between defining the overall strategic vision and detailing micro interactions while working to support new ways of collaboratively solving design problems. All while the business goals, user needs and technologies continue to shift. I am primarily leading design production teams from inception to final delivery and am responsible for ensuring the team is empowered to deliver the highest quality work and has the correct guidance to do so.

<p>Nerdiness aside, I am also a puppy mother, a classically trained chef, a proud Pittsburgh native, a YA fiction lover and an aspiring yogi.
