---
title: Jess Dale
---

<h1>Jess Dale — product designer at Quartet Health in NYC.
I’ve helped to create experiences for over a decade and learning has become the center of my practice.
I work on designing systems, interfaces, strategies, pathways and prototypes — iteratively and intentionally.</h1>

Fun fact: In my spare time, I’m challenging privilege and the lack of diversity in tech by telling stories about my experiences.

Highlights
In 2016, I worked on:

The launch of a global intranet
Participating in a hackathon
Publishing my first article
Moving to Inwood

Contact
TL;DR - just need to talk:

Get my resumé
Check for me on LinkedIn
Message via electronic mail
Hit me up on twitter
